.add-user-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

@media (min-width: 426px) {
  .add-user-form{
    align-items: center;

    .field{
      width: 350px !important;
    }
  }
}
