<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="add-user">
  <h1>Add new Scout</h1>
  <mat-form-field appearance="outline" class="field">
    <mat-label>First Name</mat-label>
    <input
      matInput
      placeholder="John"
      formControlName="firstName"
      type="text"
    />
    <mat-hint
      *ngIf="
        userForm.controls['firstName'].invalid &&
        (userForm.controls['firstName'].dirty ||
          userForm.controls['firstName'].touched)
      "
      class="alert"
    >
      <span *ngIf="userForm.controls['firstName'].errors?.['required']">
        First name is required.
      </span>
      <span *ngIf="userForm.controls['firstName'].errors?.['minlength']">
        First name must be at least 3 characters long.
      </span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline" class="field">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Doe" formControlName="lastName" type="text" />
    <mat-hint
      *ngIf="
        userForm.controls['lastName'].invalid &&
        (userForm.controls['lastName'].dirty ||
          userForm.controls['lastName'].touched)
      "
      class="alert"
    >
      <span *ngIf="userForm.controls['lastName'].errors?.['required']">
        Last name is required.
      </span>
      <span *ngIf="userForm.controls['lastName'].errors?.['minlength']">
        Last name must be at least 3 characters long.
      </span>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Section</mat-label>
    <mat-select formControlName="role">
      @for (role of roles; track role) {
      <mat-option [value]="role.value">{{ role.viewValue }}</mat-option>
      }
    </mat-select>
    <mat-hint
      *ngIf="
        userForm.controls['role'].invalid &&
        (userForm.controls['role'].dirty || userForm.controls['role'].touched)
      "
      class="alert"
    >
      <span *ngIf="userForm.controls['lastName'].errors?.['required']">
        Section is required.
      </span>
    </mat-hint>
  </mat-form-field>
  <!-- <button type="submit" mat-stroked-button [disabled]="!userForm.valid">
    Create
  </button> -->
 <button type="button" mat-stroked-button [disabled]="!userForm.valid" (click)="onSubmit()">
    Create
  </button>
</form>
